/* General container styling */
.forgot-password-container {
  display: flex;
  height: 100vh;
  background-color: #f8f9fa; /* Main background */
  justify-content: center;
  align-items: center;
  background-color: #45b2eb;
  max-height: 98vh;
  border-radius: 10px;
}

/* Left panel */
.forgot-password-left {
  flex: 1.5;
  height: 100vh;
  padding: 2rem;
  background-color: #ffffff; /* White panel */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 14px 0 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  z-index: 1;
  border-radius: 20px;
}

.forgot-password-header {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.forgot-password-subheader {
  margin-bottom: 1.5rem;
}

.forgo-password-subheader .signup-link {
  color: #45b2eb;
  text-decoration: none;
}

.forgot-password-subheader .signup-link:hover {
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-submit {
  background-color: #45b2eb;
  color: white;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #0056b3;
}

/* Right panel */
.forgot-password-right {
  flex: 1;
  background-color: #45b2eb; /* Blue panel */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  padding: 0 2rem;
  height: 98vh;
  box-sizing: border-box;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.forgot-password-wrapper {
  margin: 9rem 4rem;
}

.forgot-password-logo {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 3rem;
  margin-top: 0;
}

.logo-line {
  width: 7rem;
  height: 1.7rem;
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  margin-bottom: 0;
  padding: 0;
}

.forgot-password-tagline {
  font-size: 2.5rem;
  font-weight: 500;
}
/* Divider styling */
.forgot-password-divider {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  gap: 0.5rem;
}

.forgot-password-divider hr {
  flex: 1;
  border: 0;
  border-top: 1px solid #ced4da;
}

/* Responsive styling */
@media (max-width: 768px) {
  .forgot-password-container {
    flex-direction: column;
  }

  .forgot-password-left,
  .forgot-password-right {
    flex: unset;
    width: 100%;
  }

  .forgot-password-left {
    padding: 1.5rem;
  }

  .forgot-password-right {
    padding: 1.5rem;
  }
}
